.player-container {
  width: 100%;
  height: 100px;
  color: #888;
  position: relative;
}

.player-container:last-child {
  margin-left: 20px;
}

.player-container.black {
  background: linear-gradient(180deg,#7d7d7d 0,#333 50%,#0c0c0c);
}

.player-container.white {
  background: linear-gradient(180deg,#888 0,#efefef 50%,#efefef);
}

.player-container .player_name {
  left: 5px;
  top: 5px;
  position: absolute;
}

.player-container .stones {
  left: 5px;
  bottom: 5px;
  position: absolute;
}

.player-container.black .stones {
  color: #bbb;
}

.player-container.white .stones {
  color: #131313;
}

.moves-container {
  color: white;
}

.moves {
  word-wrap: break-word;
}

.action-buttons {
  position: relative;
}

.pass {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.resign {
  position: absolute;
  right: 0;
}

.pass, .resign {
  border-radius: 0 !important;
}