.intersection {
  position: absolute;
  box-sizing: border-box;
  margin-left: 5px;
  margin-top: 5px;
}

.intersection:before {
  border-top: 2px #000 solid;
  width: 100%;
  display: block;
  content: "";
  top: calc(100% / 2 - 1px);
  position: absolute;
  z-index: -1;
}

.intersection:after {
  border-left: 2px #000 solid;
  height: 100%;
  display: block;
  content: "";
  left: calc(100% / 2 - 1px);
  top: 0;
  position: absolute;
  z-index: -1;
}

.intersection.no-left:before {
  width: 50%;
  left: 50%;
}

.intersection.no-right:before {
  width: 50%;
}

.intersection.no-top:after {
  height: 50%;
  top: 50%;
}

.intersection.no-bottom:after {
  height: 50%;
}

.intersection.black, .intersection.white {
  border: 1px solid #000;
}

.intersection.black {
  background-color: #333;
}

.intersection.white {
  background-color: #eee;
}

.intersection.black.last::before {
  content: '';
  width: 60%;
  height: 60%;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
}

.intersection.white.last::before {
  content: '';
  width: 60%;
  height: 60%;
  border: 3px solid #303030;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
}